In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

import yfinance as yf
import MetaTrader5 as mt5 #mt5 to access historcal data
import pandas as pd # for data analysis and calculation of technical indcator
import pandas_ta as ta
import numpy as np
import plotly.io as pio
import plotly.express as px # for data visualization
import plotly.graph_objects as go
import tdclient as TDClient
from datetime import datetime, time ,timezone #to specify the date time range for historical data
from IPython.display import display, Markdown, Latex # to display result in python notebook
from backtest import Backtester, get_ohlc_history, create_price_fig, evaluate_backtest

In [9]:
# Conecte mt5
mt5.initialize()
# logine mt5
login = 52185665
password = '3cAJz$AQiKwMq0'
server = 'ICMarketsSC-Demo'

mt5.login(login,password,server)

True

In [10]:
# this function retreives olhc data from mt5 account and return a data frame
def get_ohlc(symbol, timeframe, start_datetime, end_datetime):
    ohlc = mt5.copy_rates_range(symbol, timeframe, start_datetime, end_datetime)
    ohlc_df = pd.DataFrame(ohlc)
    ohlc_df['time'] = pd.to_datetime(ohlc_df['time'], unit= 's')
    return ohlc_df[['time', 'open', 'high', 'low', 'close']]

In [11]:
# 1 minut df
symbol = 'EURUSD'
pos_size = 1
timeframe = mt5.TIMEFRAME_M1
start_datetime = datetime(2025,3,13)
end_datetime = datetime.now()
ohlc_df = get_ohlc(symbol, timeframe, start_datetime, end_datetime)
# hour4 df
timeframe = mt5.TIMEFRAME_H4
hourly_df = get_ohlc(symbol, timeframe, start_datetime, end_datetime)
# daily df
timeframe = mt5.TIMEFRAME_D1
daily_df = get_ohlc(symbol, timeframe, start_datetime, end_datetime)
daily_df
hourly_df
ohlc_df

                     time     open     high      low    close
0     2025-03-13 00:00:00  1.08870  1.08870  1.08834  1.08866
1     2025-03-13 00:01:00  1.08866  1.08868  1.08860  1.08868
2     2025-03-13 00:02:00  1.08869  1.08869  1.08869  1.08869
3     2025-03-13 00:03:00  1.08869  1.08877  1.08869  1.08877
4     2025-03-13 00:04:00  1.08877  1.08888  1.08877  1.08886
...                   ...      ...      ...      ...      ...
70559 2025-05-21 01:18:00  1.12846  1.12862  1.12845  1.12853
70560 2025-05-21 01:19:00  1.12853  1.12854  1.12848  1.12848
70561 2025-05-21 01:20:00  1.12848  1.12848  1.12834  1.12835
70562 2025-05-21 01:21:00  1.12835  1.12835  1.12811  1.12823
70563 2025-05-21 01:22:00  1.12823  1.12843  1.12820  1.12841

[70564 rows x 5 columns]

In [16]:
#ohlc4
daily_df['ohlc'] = (daily_df['open'] + daily_df['high'] + daily_df['low'] + daily_df['close']) / 4
hourly_df['ohlc'] = (hourly_df['open'] + hourly_df['high'] + hourly_df['low'] + hourly_df['close']) / 4
#sma
daily_df['sma_1'] = ta.sma(close = daily_df['ohlc'], length= 1 )
daily_df['sma_14'] = ta.sma(close = daily_df['ohlc'], length= 14)
hourly_df['sma_11'] = ta.sma(close = hourly_df['ohlc'], length= 1)
hourly_df['sma_144'] = ta.sma(close = hourly_df['ohlc'], length= 14)
daily_df['high_20'] = ta.sma(close = daily_df['high'], length= 20 )
daily_df['low_20'] = ta.sma(close = daily_df['low'], length= 20)
daily_df

,time,open,high,low,close,ohlc4,ohlc,sma_1,sma_14,high_20,low_20
0,2025-03-13,1.08870,1.08973,1.08225,1.08514,1.086455,1.086455,1.086455,NaN,NaN,NaN
1,2025-03-14,1.08503,1.09128,1.08307,1.08802,1.086850,1.086850,1.086850,NaN,NaN,NaN
2,2025-03-17,1.08771,1.09297,1.08686,1.09214,1.089920,1.089920,1.089920,NaN,NaN,NaN
3,2025-03-18,1.09218,1.09547,1.08925,1.09447,1.092842,1.092842,1.092842,NaN,NaN,NaN
4,2025-03-19,1.09439,1.09461,1.08606,1.09025,1.091328,1.091328,1.091328,NaN,NaN,NaN
5,2025-03-20,1.09010,1.09176,1.08147,1.08533,1.087165,1.087165,1.087165,NaN,NaN,NaN
6,2025-03-21,1.08494,1.08613,1.07973,1.08124,1.083010,1.083010,1.083010,NaN,NaN,NaN
7,2025-03-24,1.08127,1.08584,1.07817,1.08008,1.081340,1.081340,1.081340,NaN,NaN,NaN
8,2025-03-25,1.08003,1.08302,1.07771,1.07913,1.079973,1.079973,1.079973,NaN,NaN,NaN
9,2025-03-26,1.07901,1.08028,1.07435,1.07525,1.077222,1.077222,1.077222,NaN,NaN,NaN
10,2025-03-27,1.07539,1.08212,1.07330,1.08018,1.077748,1.077748,1.077748,NaN,NaN,NaN
11,2025-03-28,1.08011,1.08448,1.07645,1.08306,1.081025,1.081025,1.081025,NaN,NaN,NaN
12,2025-03-31,1.08225,1.08494,1.07840,1.08149,1.081770,1.081770,1.081770,NaN,NaN,NaN
13,2025-04-01,1.08152,1.08301,1.07783,1.07924,1.080400,1.080400,1.080400,1.084075,NaN,NaN
14,2025-04-02,1.07933,1.09241,1.07802,1.08603,1.083947,1.083947,1.083947,1.083896,NaN,NaN
15,2025-04-03,1.08510,1.11459,1.08052,1.10511,1.096330,1.096330,1.096330,1.084573,NaN,NaN
16,2025-04-04,1.10518,1.11078,1.09246,1.09636,1.101195,1.101195,1.101195,1.085378,NaN,NaN
17,2025-04-07,1.08936,1.10500,1.08800,1.09053,1.093222,1.093222,1.093222,1.085405,NaN,NaN
18,2025-04-08,1.09066,1.09918,1.08883,1.09578,1.093612,1.093612,1.093612,1.085569,NaN,NaN
19,2025-04-09,1.09527,1.10951,1.09132,1.09474,1.097710,1.097710,1.097710,1.086322,1.092855,1.082202
20,2025-04-10,1.09483,1.12416,1.09429,1.12017,1.108362,1.108362,1.108362,1.088133,1.094577,1.082805
21,2025-04-11,1.11929,1.14736,1.11818,1.13552,1.130088,1.130088,1.130088,1.091615,1.097381,1.084560
22,2025-04-14,1.13140,1.14246,1.12960,1.13496,1.134605,1.134605,1.134605,1.095517,1.099855,1.086697
23,2025-04-15,1.13500,1.13789,1.12642,1.12813,1.131860,1.131860,1.131860,1.099420,1.101976,1.088556
24,2025-04-16,1.12781,1.14128,1.12781,1.13985,1.134188,1.134188,1.134188,1.103451,1.104310,1.090643
25,2025-04-17,1.13986,1.14093,1.13353,1.13634,1.137665,1.137665,1.137665,1.107497,1.106769,1.093246
26,2025-04-18,1.13616,1.13975,1.13586,1.13929,1.137765,1.137765,1.137765,1.111496,1.109449,1.096053
27,2025-04-21,1.13928,1.15733,1.13799,1.15129,1.146473,1.146473,1.146473,1.116216,1.113024,1.099044
28,2025-04-22,1.15139,1.15474,1.14175,1.14206,1.147485,1.147485,1.147485,1.120754,1.116610,1.102245
29,2025-04-23,1.14207,1.14399,1.13081,1.13145,1.137080,1.137080,1.137080,1.123665,1.119795,1.105069
30,2025-04-24,1.13114,1.13979,1.13095,1.13888,1.135190,1.135190,1.135190,1.126093,1.122679,1.107951
31,2025-04-25,1.13852,1.13914,1.13160,1.13595,1.136302,1.136302,1.136302,1.129170,1.125412,1.110708
32,2025-04-28,1.13721,1.14249,1.13294,1.14216,1.138700,1.138700,1.138700,1.132391,1.128289,1.113436
33,2025-04-29,1.14197,1.14218,1.13702,1.13828,1.139863,1.139863,1.139863,1.135402,1.131248,1.116395
34,2025-04-30,1.13840,1.13996,1.13173,1.13292,1.135753,1.135753,1.135753,1.137358,1.133626,1.119081
35,2025-05-01,1.13279,1.13411,1.12659,1.12900,1.130622,1.130622,1.130622,1.137396,1.134602,1.121384
36,2025-05-02,1.12888,1.13810,1.12743,1.12994,1.131088,1.131088,1.131088,1.137145,1.135968,1.123132
37,2025-05-05,1.13037,1.13649,1.12929,1.13144,1.131898,1.131898,1.131898,1.137148,1.137542,1.125197
38,2025-05-06,1.13141,1.13812,1.12800,1.13685,1.133595,1.133595,1.133595,1.137106,1.139489,1.127155
39,2025-05-07,1.13691,1.13782,1.12917,1.13010,1.133500,1.133500,1.133500,1.136808,1.140904,1.129048
40,2025-05-08,1.12978,1.13364,1.12120,1.12279,1.126853,1.126853,1.126853,1.136029,1.141378,1.130393
41,2025-05-09,1.12235,1.12929,1.11968,1.12497,1.124073,1.124073,1.124073,1.134429,1.140475,1.130468
42,2025-05-12,1.11910,1.12429,1.10655,1.10859,1.114632,1.114632,1.114632,1.132082,1.139566,1.129316
43,2025-05-13,1.10843,1.11948,1.10821,1.11849,1.113653,1.113653,1.113653,1.130409,1.138646,1.128405
44,2025-05-14,1.11847,1.12659,1.11646,1.11714,1.119665,1.119665,1.119665,1.129300,1.137911,1.127838
45,2025-05-15,1.11700,1.12280,1.11668,1.11835,1.118707,1.118707,1.118707,1.128043,1.137005,1.126996
46,2025-05-16,1.11866,1.12197,1.11312,1.11649,1.117560,1.117560,1.117560,1.126533,1.136116,1.125859
47,2025-05-19,1.11755,1.12884,1.11694,1.12400,1.121833,1.121833,1.121833,1.125245,1.134692,1.124806
48,2025-05-20,1.12358,1.12857,1.12181,1.12844,1.125600,1.125600,1.125600,1.124520,1.133383,1.123809
49,2025-05-21,1.12821,1.13028,1.12798,1.12918,1.128912,1.128912,1.128912,1.124398,1.132698,1.123667

In [19]:
def entring_stoploss_profit(row, ohlc_df) :
    if row["sma_1"] > row['sma_14'] and row["low_x"] <= row["low_20"] :
        return "buy"
    elif row['sma_1'] < row['sma_14'] and row["high_x"] >= row["high_20"]:
        return "sell"
    # Merge daily indicators into minute data (asof = merge on closest earlier date)
merged_df = pd.merge_asof(ohlc_df, daily_df, on='time', direction='backward')
merged_df["signal"] = merged_df.apply(entring_stoploss_profit, axis=1, ohlc_df = ohlc_df)

# Tag first signal per day in original merged_df
merged_df['is_first_signal'] = (merged_df[merged_df["signal"].notna()].groupby(merged_df["time"].dt.date).cumcount() == 0)

# Set signal only on the first row per day, others = None
merged_df['signal'] = merged_df.apply(lambda row: row['signal'] if row['is_first_signal'] else None, axis=1)
merged_df[['signal', 'time']].dropna()

      signal                time
48903   sell 2025-04-30 00:00:00
52778   sell 2025-05-02 16:37:00
69042    buy 2025-05-20 00:00:00