In [7]:
import pandas as pd
csv = pd.read_csv('EUR-USD_Minute_2025-01-01_to_2025-08-22_UTC.csv')
df = pd.DataFrame(csv)
df.head()

                           UTC     Open     High      Low    Close  Volume
0  01.01.2025 22:00:00.000 UTC  1.03503  1.03514  1.03503  1.03514    5.97
1  01.01.2025 22:02:00.000 UTC  1.03514  1.03514  1.03514  1.03514    0.75
2  01.01.2025 22:04:00.000 UTC  1.03514  1.03514  1.03507  1.03507    7.50
3  01.01.2025 22:05:00.000 UTC  1.03514  1.03519  1.03507  1.03515   17.76
4  01.01.2025 22:06:00.000 UTC  1.03516  1.03516  1.03513  1.03513    3.60