In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from datetime import datetime, timedelta, time, timezone
from IPython.display import display
import plotly.express as px
import tdclient as TDClient

In [ ]:
df = yf.download('EURUSD=X', start='2025-01-01', interval= '30m')
hourly_df = yf.download('EURUSD=X', start='2025-01-01', interval= '1h')
daily_df = yf.download('EURUSD=X', start='2025-01-01', interval= '1d')

In [2]:
df = yf.download('EURUSD=X', start='2025-01-01', interval= '30m')
hourly_df = yf.download('EURUSD=X', start='2025-01-01', interval= '1h')
daily_df = yf.download('EURUSD=X', start='2025-01-01', interval= '1d')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
ohlc_df = pd.DataFrame(df)
hourly_df = pd.DataFrame(hourly_df)
daily_df = pd.DataFrame(daily_df)
ohlc_df

Price                   Close      High       Low      Open   Volume
Ticker               EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X EURUSD=X
Datetime
2025-01-01 05:00:00  1.035197  1.035197  1.035197  1.035197        0
2025-01-01 18:00:00  1.036055  1.036592  1.035518  1.035518        0
2025-01-01 18:30:00  1.035947  1.036055  1.035947  1.036055        0
2025-01-01 19:00:00  1.036269  1.036269  1.035947  1.035947        0
2025-01-01 19:30:00  1.036162  1.036269  1.036162  1.036269        0
...                       ...       ...       ...       ...      ...
2025-02-17 18:00:00  1.048438  1.048548  1.048218  1.048548        0
2025-02-17 18:30:00  1.048548  1.048548  1.048218  1.048328        0
2025-02-17 19:00:00  1.048548  1.048768  1.048438  1.048438        0
2025-02-17 19:30:00  1.048438  1.048658  1.048328  1.048658        0
2025-02-17 20:00:00  1.048438  1.048438  1.048438  1.048438        0

[1569 rows x 5 columns]

In [4]:
symbol = 'EURUSD'
start_dt = datetime.now() - timedelta(days=365*10)
end_dt = datetime.now
mt5.initialize()
ohlc = get__ohlc_history()

NameError: name 'mt5' is not defined

In [27]:
hourly_df

Price                         Close      High       Low      Open   Volume
Ticker                     EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X EURUSD=X
Datetime
2025-01-01 05:00:00+00:00  1.035197  1.035197  1.035197  1.035197        0
2025-01-01 18:00:00+00:00  1.035947  1.036592  1.035518  1.035518        0
2025-01-01 19:00:00+00:00  1.036162  1.036269  1.035947  1.035947        0
2025-01-01 20:00:00+00:00  1.036162  1.036269  1.035947  1.036162        0
2025-01-01 21:00:00+00:00  1.035840  1.036162  1.035625  1.036162        0
...                             ...       ...       ...       ...      ...
2025-02-05 21:00:00+00:00  1.040475  1.041016  1.040042  1.040799        0
2025-02-05 22:00:00+00:00  1.040691  1.040908  1.040258  1.040583        0
2025-02-05 23:00:00+00:00  1.040583  1.040799  1.040042  1.040799        0
2025-02-06 00:00:00+00:00  1.040042  1.040475  1.039825  1.040366        0
2025-02-06 01:00:00+00:00  1.040042  1.040150  1.039825  1.040042        0

[604 rows x 5 columns]

In [31]:
daily_df

Price          Close      High       Low      Open   Volume
Ticker      EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X EURUSD=X
Date
2025-01-02  1.035186  1.037560  1.023185  1.035186        0
2025-01-03  1.026821  1.030535  1.026546  1.026821        0
2025-01-06  1.030535  1.043504  1.029633  1.030535        0
2025-01-07  1.038637  1.043623  1.035947  1.038637        0
2025-01-08  1.034554  1.035840  1.027675  1.034554        0
2025-01-09  1.031470  1.032311  1.028616  1.031470        0
2025-01-10  1.029760  1.031194  1.022119  1.029760        0
2025-01-13  1.024443  1.025021  1.018382  1.024443        0
2025-01-14  1.026525  1.030397  1.023971  1.026525        0
2025-01-15  1.030684  1.035025  1.027063  1.030684        0
2025-01-16  1.029527  1.031151  1.026378  1.029527        0
2025-01-17  1.030195  1.032972  1.026652  1.030195        0
2025-01-20  1.027739  1.042731  1.027939  1.027739        0
2025-01-21  1.042068  1.043406  1.034458  1.042068        0
2025-01-22  1.040594  1.045806  1.040074  1.040594        0
2025-01-23  1.041016  1.042546  1.038562  1.041016        0
2025-01-24  1.041602  1.051934  1.041320  1.041602        0
2025-01-27  1.046759  1.053375  1.045435  1.046759        0
2025-01-28  1.044506  1.045577  1.041526  1.044506        0
2025-01-29  1.042905  1.044495  1.038346  1.042905        0
2025-01-30  1.042525  1.046551  1.039134  1.042525        0
2025-01-31  1.039728  1.041233  1.036205  1.039728        0
2025-02-03  1.024779  1.032652  1.021304  1.024779        0
2025-02-04  1.032738  1.038680  1.027654  1.032738        0
2025-02-05  1.037280  1.043645  1.037043  1.037280        0
2025-02-06  1.040042  1.040799  1.039825  1.040691        0

In [41]:
ohlc_df["pivot"] = (daily_df["High"] + daily_df["Low"] + daily_df["Close"]) / 3
ohlc_df["prange"] = (daily_df["High"] - daily_df["Low"])
ohlc_df["R1"] = daily_df["pivot"] + 0.382 * daily_df["prange"]
ohlc_df["R2"] = daily_df["pivot"] + 0.618 * daily_df["prange"]
ohlc_df["R3"] = daily_df["pivot"] + 1.000 * daily_df["prange"]

ohlc_df["S1"] = daily_df["pivot"] - 0.382 * daily_df["prange"]
ohlc_df["S2"] = daily_df["pivot"] - 0.618 * daily_df["prange"]
ohlc_df["S3"] = daily_df["pivot"] - 1.000 * daily_df["prange"]
ohlc_df

Price,Close,High,Low,Open,Volume,sma_1,prev_sma_1,sma_14,sma_11,prev_sma_11,sma_114,prange,R1,R2,R3,pivot,S1,S2,S3
Ticker,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X,,,,,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,,,,,
2025-01-01 05:00:00,1.035197,1.035197,1.035197,1.035197,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 18:00:00,1.036055,1.036592,1.035518,1.035518,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 18:30:00,1.035947,1.036055,1.035947,1.036055,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 19:00:00,1.036269,1.036269,1.035947,1.035947,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 19:30:00,1.036162,1.036269,1.036162,1.036269,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-05 22:30:00,1.040691,1.040799,1.040366,1.040799,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-05 23:00:00,1.040583,1.040799,1.040042,1.040799,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-06 00:00:00,1.040258,1.040475,1.039933,1.040366,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-06 00:30:00,1.040042,1.040366,1.039825,1.040366,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-06 01:00:00,1.040042,1.040150,1.039825,1.040042,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
furst_sma_period = 1
second_sma_period = 14
# sma 1
ohlc_df['sma_1'] = hourly_df['Close'].rolling(furst_sma_period).mean()
ohlc_df['prev_sma_1'] = ohlc_df['sma_1'].shift(1) #to find crossovers, previous sma value is necessary using shift()
# sma 14
ohlc_df['sma_14'] = hourly_df['Close'].rolling(second_sma_period).mean()
#setting the 11 and 114 sma periods
thurd_sma_period = 1
fourth_sma_period = 14
# sma 11
ohlc_df['sma_11'] = daily_df['Close'].rolling(thurd_sma_period).mean()
ohlc_df['prev_sma_11'] = ohlc_df['sma_11'].shift(1) #to find crossovers, previous sma value is necessary using shift()
# sma 114
ohlc_df['sma_114'] = daily_df['Close'].rolling(fourth_sma_period).mean()
ohlc_df

Price,Close,High,Low,Open,Volume,sma_1,prev_sma_1,sma_14,sma_11,prev_sma_11,sma_114,prange,R1,R2,R3,pivot,S1,S2,S3
Ticker,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X,,,,,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,,,,,
2025-01-01 05:00:00,1.035197,1.035197,1.035197,1.035197,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 18:00:00,1.036055,1.036592,1.035518,1.035518,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 18:30:00,1.035947,1.036055,1.035947,1.036055,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 19:00:00,1.036269,1.036269,1.035947,1.035947,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-01 19:30:00,1.036162,1.036269,1.036162,1.036269,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-05 22:30:00,1.040691,1.040799,1.040366,1.040799,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-05 23:00:00,1.040583,1.040799,1.040042,1.040799,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-06 00:00:00,1.040258,1.040475,1.039933,1.040366,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-06 00:30:00,1.040042,1.040366,1.039825,1.040366,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-06 01:00:00,1.040042,1.040150,1.039825,1.040042,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
#setting entring and closing time and one trade a day
# Set the start and end times for your desired trading hours
start_time = datetime.strptime('06:00:00', '%H:%M:%S').time()
end_time = datetime.strptime('15:00:00', '%H:%M:%S').time()

# Filter the trade data for trades within the specified trading hours
trades_within_hours = ohlc_df[(ohlc_df.index.time >= start_time) & (ohlc_df.index.time <= end_time)]

# Close all open positions at 11:45 PM
first_trade_per_day = daily_df.groupby(daily_df.index.time).first()
end_trading_time = datetime.strptime('23:45:00', '%H:%M:%S').time()
open_positions = trades_within_hours[trades_within_hours.index.time == end_trading_time]
# function to trading
daily_df["sell_stope_loss"] = (daily_df["R2"] - daily_df["S1"]) /2 + daily_df["R2"]
daily_df["buy_stope_loss"] = (daily_df["R1"] - daily_df["S2"]) /2 - daily_df["S2"]
daily_df

Price,Close,High,Low,Open,Volume,pivot,prange,R1,R2,R3,S1,S2,S3,sell_stope_loss,buy_stope_loss
Ticker,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X,,,,,,,,,,
Date,,,,,,,,,,,,,,,
2025-01-02,1.035186,1.037560,1.023185,1.035186,0,NaN,0.014374,1.037468,1.040860,1.046351,NaN,NaN,NaN,NaN,NaN
2025-01-03,1.026821,1.030535,1.026546,1.026821,0,NaN,0.003988,1.029491,1.030432,1.031956,NaN,NaN,NaN,NaN,NaN
2025-01-06,1.030535,1.043504,1.029633,1.030535,0,NaN,0.013871,1.039856,1.043129,1.048428,NaN,NaN,NaN,NaN,NaN
2025-01-07,1.038637,1.043623,1.035947,1.038637,0,NaN,0.007676,1.042335,1.044147,1.047079,NaN,NaN,NaN,NaN,NaN
2025-01-08,1.034554,1.035840,1.027675,1.034554,0,NaN,0.008165,1.035809,1.037736,1.040855,NaN,NaN,NaN,NaN,NaN
2025-01-09,1.031470,1.032311,1.028616,1.031470,0,NaN,0.003695,1.032211,1.033083,1.034494,NaN,NaN,NaN,NaN,NaN
2025-01-10,1.029760,1.031194,1.022119,1.029760,0,NaN,0.009075,1.031157,1.033299,1.036766,NaN,NaN,NaN,NaN,NaN
2025-01-13,1.024443,1.025021,1.018382,1.024443,0,NaN,0.006639,1.025151,1.026718,1.029254,NaN,NaN,NaN,NaN,NaN
2025-01-14,1.026525,1.030397,1.023971,1.026525,0,NaN,0.006425,1.029419,1.030935,1.033390,NaN,NaN,NaN,NaN,NaN
2025-01-15,1.030684,1.035025,1.027063,1.030684,0,NaN,0.007962,1.033965,1.035845,1.038886,NaN,NaN,NaN,NaN,NaN
2025-01-16,1.029527,1.031151,1.026378,1.029527,0,NaN,0.004773,1.030842,1.031968,1.033792,NaN,NaN,NaN,NaN,NaN
2025-01-17,1.030195,1.032972,1.026652,1.030195,0,NaN,0.006321,1.032354,1.033846,1.036260,NaN,NaN,NaN,NaN,NaN
2025-01-20,1.027739,1.042731,1.027939,1.027739,0,NaN,0.014792,1.038453,1.041944,1.047595,NaN,NaN,NaN,NaN,NaN
2025-01-21,1.042068,1.043406,1.034458,1.042068,0,NaN,0.008948,1.043395,1.045507,1.048925,NaN,NaN,NaN,NaN,NaN
2025-01-22,1.040594,1.045806,1.040074,1.040594,0,NaN,0.005732,1.044348,1.045700,1.047890,NaN,NaN,NaN,NaN,NaN
2025-01-23,1.041016,1.042546,1.038562,1.041016,0,NaN,0.003984,1.042230,1.043170,1.044692,NaN,NaN,NaN,NaN,NaN
2025-01-24,1.041602,1.051934,1.041320,1.041602,0,NaN,0.010614,1.049006,1.051511,1.055566,NaN,NaN,NaN,NaN,NaN
2025-01-27,1.046759,1.053375,1.045435,1.046759,0,NaN,0.007940,1.051556,1.053429,1.056463,NaN,NaN,NaN,NaN,NaN
2025-01-28,1.044506,1.045577,1.041526,1.044506,0,NaN,0.004051,1.045417,1.046373,1.047921,NaN,NaN,NaN,NaN,NaN
2025-01-29,1.042905,1.044495,1.038346,1.042905,0,NaN,0.006149,1.044265,1.045716,1.048065,NaN,NaN,NaN,NaN,NaN
2025-01-30,1.042525,1.046551,1.039134,1.042525,0,NaN,0.007417,1.045570,1.047320,1.050153,NaN,NaN,NaN,NaN,NaN
2025-01-31,1.039728,1.041233,1.036205,1.039728,0,NaN,0.005028,1.040976,1.042162,1.044083,NaN,NaN,NaN,NaN,NaN
2025-02-03,1.024779,1.032652,1.021304,1.024779,0,NaN,0.011348,1.030580,1.033258,1.037593,NaN,NaN,NaN,NaN,NaN
2025-02-04,1.032738,1.038680,1.027654,1.032738,0,NaN,0.011026,1.037236,1.039838,1.044050,NaN,NaN,NaN,NaN,NaN
2025-02-05,1.037280,1.043645,1.037043,1.037280,0,NaN,0.006602,1.041845,1.043403,1.045925,NaN,NaN,NaN,NaN,NaN
2025-02-06,1.040042,1.040799,1.039825,1.040691,0,NaN,0.000974,1.040594,1.040824,1.041196,NaN,NaN,NaN,NaN,NaN

In [69]:
if daily_df["High"] >= daily_df["R2"] and open_positions and first_trade_per_day and ohlc_df['sma_11'] < ohlc_df['sma_114']:
    print("sell")
if daily_df["Low"] <= daily_df["S2"] and open_positions and first_trade_per_day and ohlc_df['sma_11'] > ohlc_df['sma_114']:
    print("buy")
if daily_df['Low'] <= daily_df["S1"]:
    print("sell_take_profit")
if daily_df['High'] >= daily_df["R1"]:
    print("buy_take_profit")
if daily_df["High"] >= daily_df["sell_stope_loss"]:
    print("sell_stope_loss")
if daily_df["Low"] <= daily_df["buy_stope_loss"]:
    print("buy_stope_loss")

ValueError: Operands are not aligned. Do `left, right = left.align(right, axis=1, copy=False)` before operating.