In [ ]:
import yfinance as yf
import MetaTrader5 as mt5
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from datetime import datetime, timedelta, time, timezone
from IPython.display import display
import plotly.express as px
import tdclient as TDClient

In [2]:
df = yf.download('EURUSD=X', start='2025-01-01', interval= '30m')
hourly_df = yf.download('EURUSD=X', start='2025-01-01', interval= '1h')
daily_df = yf.download('EURUSD=X', start='2025-01-01', interval= '1d')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
ohlc_df = pd.DataFrame(df)
hourly_df = pd.DataFrame(hourly_df)
daily_df = pd.DataFrame(daily_df)
ohlc_df

Price                   Close      High       Low      Open   Volume
Ticker               EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X EURUSD=X
Datetime
2025-01-01 05:00:00  1.035197  1.035197  1.035197  1.035197        0
2025-01-01 18:00:00  1.036055  1.036592  1.035518  1.035518        0
2025-01-01 18:30:00  1.035947  1.036055  1.035947  1.036055        0
2025-01-01 19:00:00  1.036269  1.036269  1.035947  1.035947        0
2025-01-01 19:30:00  1.036162  1.036269  1.036162  1.036269        0
...                       ...       ...       ...       ...      ...
2025-02-17 19:30:00  1.048438  1.048658  1.048328  1.048658        0
2025-02-17 20:00:00  1.048438  1.048548  1.048328  1.048438        0
2025-02-17 20:30:00  1.048548  1.048548  1.048438  1.048548        0
2025-02-18 00:00:00  1.048328  1.048878  1.048218  1.048768        0
2025-02-18 00:30:00  1.047889  1.048328  1.047889  1.048328        0

[1572 rows x 5 columns]

In [4]:
hourly_df

Price                         Close      High       Low      Open   Volume
Ticker                     EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X EURUSD=X
Datetime
2025-01-01 05:00:00+00:00  1.035197  1.035197  1.035197  1.035197        0
2025-01-01 18:00:00+00:00  1.035947  1.036592  1.035518  1.035518        0
2025-01-01 19:00:00+00:00  1.036162  1.036269  1.035947  1.035947        0
2025-01-01 20:00:00+00:00  1.036162  1.036269  1.035947  1.036162        0
2025-01-01 21:00:00+00:00  1.035840  1.036162  1.035625  1.036162        0
...                             ...       ...       ...       ...      ...
2025-02-17 17:00:00+00:00  1.048548  1.048768  1.048108  1.048108        0
2025-02-17 18:00:00+00:00  1.048548  1.048548  1.048218  1.048548        0
2025-02-17 19:00:00+00:00  1.048438  1.048768  1.048328  1.048438        0
2025-02-17 20:00:00+00:00  1.048548  1.048548  1.048328  1.048438        0
2025-02-18 00:00:00+00:00  1.047889  1.048878  1.047889  1.048768        0

[790 rows x 5 columns]

In [5]:
daily_df

Price          Close      High       Low      Open   Volume
Ticker      EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X EURUSD=X
Date
2025-01-02  1.035186  1.037560  1.023185  1.035186        0
2025-01-03  1.026821  1.030535  1.026546  1.026821        0
2025-01-06  1.030535  1.043504  1.029633  1.030535        0
2025-01-07  1.038637  1.043623  1.035947  1.038637        0
2025-01-08  1.034554  1.035840  1.027675  1.034554        0
2025-01-09  1.031470  1.032311  1.028616  1.031470        0
2025-01-10  1.029760  1.031194  1.022119  1.029760        0
2025-01-13  1.024443  1.025021  1.018382  1.024443        0
2025-01-14  1.026525  1.030397  1.023971  1.026525        0
2025-01-15  1.030684  1.035025  1.027063  1.030684        0
2025-01-16  1.029527  1.031151  1.026378  1.029527        0
2025-01-17  1.030195  1.032972  1.026652  1.030195        0
2025-01-20  1.027739  1.042731  1.027939  1.027739        0
2025-01-21  1.042068  1.043406  1.034458  1.042068        0
2025-01-22  1.040594  1.045806  1.040074  1.040594        0
2025-01-23  1.041016  1.042546  1.038562  1.041016        0
2025-01-24  1.041602  1.051934  1.041320  1.041602        0
2025-01-27  1.046759  1.053375  1.045435  1.046759        0
2025-01-28  1.044506  1.045577  1.041526  1.044506        0
2025-01-29  1.042905  1.044495  1.038346  1.042905        0
2025-01-30  1.042525  1.046551  1.039134  1.042525        0
2025-01-31  1.039728  1.041233  1.036205  1.039728        0
2025-02-03  1.024779  1.032652  1.021304  1.024779        0
2025-02-04  1.032738  1.038680  1.027654  1.032738        0
2025-02-05  1.037280  1.043645  1.037043  1.037280        0
2025-02-06  1.040085  1.040529  1.035454  1.040085        0
2025-02-07  1.038573  1.040594  1.032461  1.038573        0
2025-02-10  1.031162  1.033602  1.029951  1.031162        0
2025-02-11  1.030153  1.035197  1.029273  1.030153        0
2025-02-12  1.036495  1.039566  1.031821  1.036495        0
2025-02-13  1.039199  1.044572  1.037926  1.039199        0
2025-02-14  1.046167  1.051370  1.044812  1.046167        0
2025-02-17  1.048922  1.050707  1.046737  1.048922        0
2025-02-18  1.047889  1.048878  1.047889  1.048548        0

In [8]:
daily_df["pivot"] = (daily_df["High"] + daily_df["Low"] + daily_df["Close"]) / 3
daily_df["prange"] = (daily_df["High"] - daily_df["Low"])
daily_df["R1"] = daily_df["pivot"] + 0.382 * daily_df["prange"]
daily_df["R2"] = daily_df["pivot"] + 0.618 * daily_df["prange"]
daily_df["R3"] = daily_df["pivot"] + 1.000 * daily_df["prange"]

daily_df["S1"] = daily_df["pivot"] - 0.382 * daily_df["prange"]
daily_df["S2"] = daily_df["pivot"] - 0.618 * daily_df["prange"]
daily_df["S3"] = daily_df["pivot"] - 1.000 * daily_df["prange"]
daily_df

Price,Close,High,Low,Open,Volume,pivot,prange,R1,R2,R3,S1,S2,S3
Ticker,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X,EURUSD=X,,,,,,,,
Date,,,,,,,,,,,,,
2025-01-02,1.035186,1.037560,1.023185,1.035186,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-03,1.026821,1.030535,1.026546,1.026821,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-06,1.030535,1.043504,1.029633,1.030535,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-07,1.038637,1.043623,1.035947,1.038637,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-08,1.034554,1.035840,1.027675,1.034554,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-09,1.031470,1.032311,1.028616,1.031470,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-10,1.029760,1.031194,1.022119,1.029760,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-13,1.024443,1.025021,1.018382,1.024443,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-14,1.026525,1.030397,1.023971,1.026525,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-15,1.030684,1.035025,1.027063,1.030684,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-16,1.029527,1.031151,1.026378,1.029527,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-17,1.030195,1.032972,1.026652,1.030195,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-20,1.027739,1.042731,1.027939,1.027739,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-21,1.042068,1.043406,1.034458,1.042068,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-22,1.040594,1.045806,1.040074,1.040594,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-23,1.041016,1.042546,1.038562,1.041016,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-24,1.041602,1.051934,1.041320,1.041602,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-27,1.046759,1.053375,1.045435,1.046759,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-28,1.044506,1.045577,1.041526,1.044506,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-29,1.042905,1.044495,1.038346,1.042905,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-30,1.042525,1.046551,1.039134,1.042525,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-31,1.039728,1.041233,1.036205,1.039728,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-03,1.024779,1.032652,1.021304,1.024779,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-04,1.032738,1.038680,1.027654,1.032738,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-05,1.037280,1.043645,1.037043,1.037280,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-06,1.040085,1.040529,1.035454,1.040085,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-07,1.038573,1.040594,1.032461,1.038573,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-10,1.031162,1.033602,1.029951,1.031162,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-11,1.030153,1.035197,1.029273,1.030153,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-12,1.036495,1.039566,1.031821,1.036495,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-13,1.039199,1.044572,1.037926,1.039199,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-14,1.046167,1.051370,1.044812,1.046167,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-17,1.048922,1.050707,1.046737,1.048922,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-18,1.047889,1.048878,1.047889,1.048548,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
furst_sma_period = 1
second_sma_period = 14
# sma 1
ohlc_df['sma_1'] = hourly_df['Close'].rolling(furst_sma_period).mean()
ohlc_df['prev_sma_1'] = ohlc_df['sma_1'].shift(1) #to find crossovers, previous sma value is necessary using shift()
# sma 14
ohlc_df['sma_14'] = hourly_df['Close'].rolling(second_sma_period).mean()
#setting the 11 and 114 sma periods
thurd_sma_period = 1
fourth_sma_period = 14
# sma 11
ohlc_df['sma_11'] = daily_df['Close'].rolling(thurd_sma_period).mean()
ohlc_df['prev_sma_11'] = ohlc_df['sma_11'].shift(1) #to find crossovers, previous sma value is necessary using shift()
# sma 114
ohlc_df['sma_114'] = daily_df['Close'].rolling(fourth_sma_period).mean()
ohlc_df

In [ ]:
#setting entring and closing time and one trade a day
# Set the start and end times for your desired trading hours
start_time = datetime.strptime('06:00:00', '%H:%M:%S').time()
end_time = datetime.strptime('15:00:00', '%H:%M:%S').time()

# Filter the trade data for trades within the specified trading hours
trades_within_hours = ohlc_df[(ohlc_df.index.time >= start_time) & (ohlc_df.index.time <= end_time)]

# Close all open positions at 11:45 PM
first_trade_per_day = daily_df.groupby(daily_df.index.time).first()
end_trading_time = datetime.strptime('23:45:00', '%H:%M:%S').time()
open_positions = trades_within_hours[trades_within_hours.index.time == end_trading_time]
# function to trading
daily_df["sell_stope_loss"] = (daily_df["R2"] - daily_df["S1"]) /2 + daily_df["R2"]
daily_df["buy_stope_loss"] = (daily_df["R1"] - daily_df["S2"]) /2 - daily_df["S2"]
daily_df

In [ ]:
if daily_df["High"] >= daily_df["R2"] and open_positions and first_trade_per_day and ohlc_df['sma_11'] < ohlc_df['sma_114']:
    print("sell")
if daily_df["Low"] <= daily_df["S2"] and open_positions and first_trade_per_day and ohlc_df['sma_11'] > ohlc_df['sma_114']:
    print("buy")
if daily_df['Low'] <= daily_df["S1"]:
    print("sell_take_profit")
if daily_df['High'] >= daily_df["R1"]:
    print("buy_take_profit")
if daily_df["High"] >= daily_df["sell_stope_loss"]:
    print("sell_stope_loss")
if daily_df["Low"] <= daily_df["buy_stope_loss"]:
    print("buy_stope_loss")